doctype html
html
  head
    title Prueba con PUG
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(action="/users" method='POST')
        label(for='email') Email
        input(type='email', name='email')
        label(for='password') Password
        input(type='password', name='password')
        input(type='submit', value='Guardar')
        
