doctype html
html
  head
    title Prueba con PUG
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(action='/tasks', method='POST')
      label(for='description') Descripción
      textarea(name="description", cols="30", rows="10") 
      input(type='submit', value='Guardar')